.heading{
    font-weight: 600;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0.1rem;
    
}
.background{
    background-color: rgb(27, 24, 24);
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none; 
    padding: 1rem;

}
.search{
    float:right;
    size: 1rem;
    margin-right: 1.5rem;
}
.history{
    border:2px solid black;
    margin-top: 2rem;
}
